/vendor
/node_modules
.venv/
__pycache__/
*.py[cod]
*.egg-info/
uv.lock
*.sqlite3
*.sqlite3-journal
*.sqlite3-wal

/build
/.react-router
/.turbo
/.cache
/dist
/staticfiles

/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/debugbar
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

.env
.env.*
!.env.example
.envrc
/auth.json
.phpactor.json

/database/*.sqlite
/database/*.sqlite-journal
/database/*.sqlite-wal

/.phpunit.cache
.phpunit.result.cache
/coverage

bun.lockb
bun.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/Homestead.json
/Homestead.yaml

/.fleet
/.idea
/.nova
/.vscode
/.zed
.DS_Store
Thumbs.db
